<h1>Add a New Puppy</h1>

<form method="post" action="/display_puppy">
  <label for="name">Name:</label><input type="text" name="name" required>
  <label for="breed">Breed:</label><input type="text" name="breed" required>
  <label for="age">Age:</label><input type="text" name="age" required>
  <input type="submit" value="submit">
</form>
