<form action="/" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <br>
  <label for="breed">Breed:</label>
  <input type="text" name="breed">
  <br>
  <label for="age">Age:</label>
  <input type="text" name="age">
  <br>
  <button type="submit" name="submit">submit</button>
  <!-- <input type="submit" name="submit"> -->
</form>
