<form class="" action="/display_puppy" method="post">
    <label for="name">Enter your phrase:</label>

      <p><input type="text" name="name" id="name" /></p>

      <label for="breed">Enter your phrase:</label>

      <p><input type="text" name="breed" id="breed" /></p>

      <label for="age">Enter your phrase:</label>

      <p><input type="text" name="age" id="age" /></p>

      <input type="submit" value="submit"/>

</form>
