<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Puppy creation page">
  </head>
  <body style="text-align: center; background: lightseagreen;">
    <h1 style="color: chartreuse; text-decoration: underline;">Puppy Adoption Form!</h1>
    <h2>Please enter your puppy information here:</h2>
    <form style="display: inline-block;" method='POST' action='/'>
      <h3>Puppy name: <input type="text" name="name"><br>
      Puppy breed: <input type="text" name="breed"><br>
      Puppy age: <input type="number" name="age"></h3>

      <input type='submit' id='submit'>
    </form>
  </body>
</html>
