<form method="post" action="/display_puppy">
  Puppy Name:<textarea name="name"></textarea></br>
  Puppy Breed: <textarea name="breed"></textarea></br>
  Puppy Age:\n<textarea name="age"></textarea></br>
  <input type="submit" value="submit">


</form>
