<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>

<h1>Add your puppy below.</h1>
<form method='post' action="/show">
  <p>Name: <input type='text' name="name"></input></p>
  <p>Breed: <input type='text' name="breed"></input></p>
  <p>Age: <input type='text' name="age"></input></p>
  <br>
  <button type='submit' value='submit'>Submit</button>
</form>

</body>
</html>
