<!DOCTYPE html>
<html>
  <head>
    <title>Add New Puppy</title>
  </head>
  <body>
    <h1>Add New Puppy!</h1>
    <form method="post" action="/display_puppy">
    <p>Enter your puppy's info:</p>
    Name: <input type="text" name="name"><br>
    Breed: <input type="text" name="breed"><br>
    Age: <input type="text" name="age"><br>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>
