<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="puppy" method="post">
      name: <input type="text" name="name" value="">
      breed: <input type="text" name="breed" value="">
      age: <input type="text" name="age" value="">
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
