<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Add a puppy for adoption</h1>
    <form method="POST" action="/">
      <label for="name">Name: </label>
      <input type="text" name='name'><br>
      <label for="breed">Breed: </label>
      <input type="text" name='breed'><br>
      <label for="age">Age: </label>
      <input type="text" name='age'><br>
      <input id="submit" name="submit" type="submit">
    </form>
  </body>
</html>