<!DOCTYPE html>
<html>
    <head>
        <title>Puppy Lab</title>
    </head>
    <body>
	<form action="/" method="POST">
	  <label for="name">Name: </label>
	  <p><input type="text" name="name" id="name"></p>
	  <label for="breed">Breed: </label>
	  <p><input type="text" name="breed" id="breed"></p>
	  <label for="age">Age: </label>
	  <p><input type="text" name="age" id="age"></p>
	 
	  <input type="submit" id="submit"/>
	</form>
</body>
</html>