<form method="post" action="/">
    <h2>Enter your dog name: <input type="text" name="name"></h2>
    <h2>Enter your dog breed: <input type="text" name="breed"></h2>
    <h2>Enter your dog age: <input type="text" name="age"></h2>
    <input type="submit" id="submit">
</form>
