<!DOCTYPE html>
<html>
<body>
    <form method='POST' action='/create'>
        Name: <input type='text' name='name'><br>
        Puppy Breed: <input type='text' name='age'><br>
        Puppy Age: <input type='text' name='breed'><br>
        
        <input type='submit' value='submit'>
    </form>
</body>
</html>