<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheets" href="../public/stylesheets/style.css" />
  <head>

  <body>


    <h3>Enter the new puppy for adoption</h3>
  <form method="POST" action="display_puppy">
    <label for="puppy_name">Puppy name</label>
    <input type="text" name="name"/>
    <label for="puppy_breed">Breed</label>
    <input type="text" name="breed"/>
    <label for="puppy_age">Age</label>
    <input type="text" name="age"/>
    <input type="submit" value="submit">



  </form>
  </body>

</html>
