<h1>List a puppy that is available for adoption</h1>

<form method="POST" action='/'>
<p>Name of puppy<input type=text name="name"></p>
<p>Age of puppy<input type=text name="age"></p>
<p>Breed of puppy<input type=text name="breed"></p>

<p><button type="submit" name="submit" id="submit">Submit</button></p>
</form>
