<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy</h1>
    <form method="post" action="/display_puppy">
      <p>Enter your puppy's name below:</p>
      <textarea name="name"></textarea>
      <p>Enter your puppy's breed below:</p>
      <textarea name="breed"></textarea>
      <p>Enter your puppy's age below:</p>
      <textarea name="age"></textarea>
    <input type="submit" value="submit">Submit</input>
  </form>

  </body>
</html>
