<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Creat Puppy Page</h1>
      <form method="POST" action="/new">
        Enter New Puppy Info Below:
        <br>
        Name:<textarea name ="name"></textarea>
        <br>
        Breed:<textarea name = "breed"></textarea>
        <br>
        Age:    <textarea name = "age"></textarea>
        <br>
        <input type="submit" value="submit">Submit</input>
      </form>
  </body>
</html>
