<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <h1></h1>
    <form method="POST" action="/">
      name<input type="text" name='name'>
      breed<input type="text" name='breed'>
      age <input type="text" name='age'>
      <input type="submit" name="submit" value="submit" id="submit"/>
    </form>
  </body>
</html>
