<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pet Adoption Dot Com</title>
    </head>
    <body>
        <h1>Adopt a doggo</h1>
        
        Puppy Name: <%= @puppy.name %>
        <br>
        Puppy Breed: <%= @puppy.breed %>
        <br>
        Puppy Age: <%= @puppy.age %>
    </body>
</html>