<!doctype html>
<html>
  <head>
    <title>Pet Adoptions 'R' Us</title>
    <meta name="description" content="Puppy display page">
  </head>
  <body style="text-align: center; background: lightseagreen;">
    <h1 style="color: chartreuse">Puppies For Adoption!</h1>
    <h2>Puppy Name: <%= @puppy.name %></h2>
    <h2>Puppy Breed: <%= @puppy.breed %></h2>
    <h2>Puppy Age: <%= @puppy.age %></h2>
  </body>
</html>
