<h1>Success!</h1>

<h4>A New Puppy Has Been Successfully Added</h4>

<p><strong>Puppy Name:</strong> <%= @name %></p>
<p><strong>Puppy Breed:</strong> <%= @breed %></p>
<p><strong>Puppy Age:</strong> <%= @age %></p>
