<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Here is your new puppy!</h1>
    <h2>Puppy Name: <%= @pupName %></h2>
    <h2>Puppy Breed: <%= @breed %></h2>
    <h2>Puppy Age: <%= @age %></h2>
  </body>
  </html>
