<!DOCTYPE html>
<html>
<head>
  <title>Displays Puppy</title>
</head>
  <body>
    <h1>Display Puppy</h1>
    <p>Name:<%= "\n#{@name}" %></p>
    <p>Puppy Breed:<%= "\n#{@breed}" %></p>
    <p>Puppy Age:<%= "\n#{@age}" %></p>
  </body>
</html>