<html>
  <head></head>
  <body>
    <center>
      <p>Your Puppy's details:</p>
      <p>Puppy Name:<%= "\n#{@new_puppy.name}" %></p>
      <p>Puppy Breed:<%= "\n#{@new_puppy.breed}" %></p>
      <p>Puppy Age:<%= "\n#{@new_puppy.age}" %></p>
    </center>
  </body>
</html>
