<!DOCTYPE html>
<html>
  <head>
    <title>New Puppy</title>
  </head>
  <body>
    <h1>New puppy!</h1>

    <h2> Name: <%= @puppy.name %>  </h2>
    <h2> Breed: <%= @puppy.breed %>  </h2>
    <h2> Age: <%= @puppy.age %>  </h2>
  </body>
</html>
