<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h2>OMGZORZ LOOK AT THIS SNUGGLY WUGGLY LITTLE PUPPY WE LITERALLY CAN'T EVEN</h2>
  <h3>Here's what you've entered:</h3>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %></p>
 </body>
</html>