<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
  </head>
  <body>
    <h1></h1>
    Puppy Name:
    <%= @puppy.name%>
    Puppy Age:
    <%= @puppy.age %>
    Puppy Breed:
    <%= @puppy.breed %>
  </body>
</html>
