<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1><%= @name%>'s PuPpY ZoNe PuP profile</h1>

    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %></p>
  </body>
</html>
