<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <p>Puppy Name: <%= "#{@results["name"]}" %> </p>
    <p>Puppy Breed: <%= "#{@results["breed"]}" %> </p>
    <p>Puppy Age: <%= "#{@results["age"]}" %> </p>
  </body>
</html>
