<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>This is the Puppy!</h1>
    <p>Puppy Name:</p>
    <p><%= @name %></p>
    <p>Puppy Breed:</p>
    <p><%= @breed %></p>
    <p>Puppy Age:</p>
    <p><%= @age %></p>
  </body>
</html>
