<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a Puppy Listing</title>
  </head>
  <body>

      Puppy Name: <%= @puppy.name %><br>
      Puppy Breed: <%= @puppy.breed %><br>
      Puppy Age: <%= @puppy.age %><br>



  </body>
</html>
