<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Professor Piper's Puppy List</title>
</head>
<body>
  <h2>Say Hello To:</h2>
  <h3> <%= @puppy.name %> </h3>
  <p>Puppy Name: <%= @puppy.name %> </p>
  <p>Puppy Breed: <%= @puppy.breed %> </p>
  <p>Puppy Age: <%= @puppy.age %> </p>
</body>
</html>
