<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
      <h3>We Love Puppies</h3>
      <img src="https://media.giphy.com/media/a4QfjNNTn9YBi/giphy.gif">
        <a href="/new">Click Here To List A Puppy</a>
    </body>
</html>
