<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    	<title>Puppy Home Page</title>
    </head>
    <body>
        <h1>Welcome TO Puppy Love!</h1>
        <h3>The best place to dump your mutt.</h3>

        <a href="/new">Click Here To List A Puppy</h2>
    </body>
</html>