<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1>Welcome to our awesome web app dedicated to PUPPIES!!!</h1>
  <h2>We love puppies! Want to list yours?</h2>

  <p><a href="/new">Click Here To List A Puppy</a></p>
 </body>
</html>