<h2>Welcome to the Puppy Adoption Site!</h2>
<a href="<%= '/' + CREATE %>">Click Here To List A Puppy</a>
<!--
<form method="GET" action="<%= '/' + CREATE %>">
  <input type="submit" value="Create"/>
</form>
-->
