<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pet Adoption Dot Com</title>
    </head>
    <body>
        <h1>Adopt a doggo</h1>
        <a href="/new">Click Here To List A Puppy</a>
    </body>
</html>