<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to the PuPpY ZoNe brah</h1>

    <a href="#">Click Here To List A Puppy</a>
  </body>
</html>
